@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/variables" as *;

.BlockDimensions {
    &-window-width {
        width: 100%;
    }

    &-margin-auto {
        margin: 0 auto;

        @include mobile() {
            margin: 0 $blockDimensionMarginMobile;
        }

        @include atLeastTablet() {
            width: calc($tabletWidth - $minBlockDimensionMarginTablet * 2);
        }

        @include atLeastTabletLandscape() {
            width: calc($tabletLandscapeWidth - $minBlockDimensionMarginTabletLandscape * 2);
        }
        
        @include atLeastDesktop() {
            width: calc($desktopWidth - $minBlockDimensionMarginDesktop * 2);
        }

        @include desktopMonitor() {
            width: calc($desktopMonitorWidth - $minBlockDimensionMarginDesktopMonitor * 2);
        }
    }

    &-fit-content {
        width: fit-content;
    }
}