@use "@styles/helpers/mixins" as *;

.SliderVideo {
    // position center
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    
    // full width on wide screens, full height on narrow screens
    video {
        width: 100%;

        @include mobile() {
            height: 100%;
            width: unset;
        }
        @include tablet() {
            height: 100%;
            width: unset;
        }
    }

    &-playButton {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}