services:
  frontend:
    image: dev_${NAME}
    build:
      context: .
      args:
        HTTPS: false
        NODE_VERSION: ${NODE_VERSION}
    environment:
      REACT_APP_CRYPTO_KEY: 6Le0DgMTAAAAANokdEEial
      REACT_APP_CRYPTO_IV: mHGFxENnZLbienLyANoi.e
    container_name: dev_${NAME}
    ports:
      - 3000:3000
      - 443:443
    env_file: .env.local
    volumes:
      - ./.nginx.local/nginx.local.conf:/etc/nginx/conf.d/default.conf
      - ./.nginx.local/ssl/localhost.crt.pem:/etc/nginx/conf.d/localhost.crt.pem
      - ./.nginx.local/ssl/localhost.key.pem:/etc/nginx/conf.d/localhost.key.pem
