@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/variables" as *;

.BoxBlock {
    &-background-image, &-simpleBlocksDimension-simpleBlockDimension {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &-background-image-fixed {
        background-repeat: repeat;
        background-attachment: fixed;
    }

    &-simpleBlocksDimension {
        @include mobile() {
            padding-top: $blockDimensionMarginMobile;

            &-simpleBlockDimension {
                // TODO: consider space-between
                margin-bottom: $blockDimensionMarginMobile;
            }
        }
        
        @include tablet() {
            padding-top: $minBlockDimensionMarginTablet;

            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginTablet;
            }
        }

        @include tabletLandscape() {
            padding-top: $minBlockDimensionMarginTabletLandscape;

            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginTabletLandscape;
            }
        }
        
        @include desktop() {
            padding-top: $minBlockDimensionMarginDesktop;
            
            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginDesktop;
            }
        }
        
        @include desktopMonitor() {
            padding-top: $minBlockDimensionMarginDesktopMonitor;
            
            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginDesktopMonitor;
            }
        }

        // give all elements margin y and make blockDimension's padding adjust
        &-simpleBlockDimension {
            $padding: $pMargin;
            $morePadding: 4em; 

            padding: calc($padding - $pMargin) $padding;

            &-morePadding {
                padding: calc($morePadding - $pMargin) $morePadding;
            }

            ul, ol, span, img, button {
                margin: $pMargin 0;
            }
        }
    }
}