@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/variables" as *;

.BoxBlock {
    &-background-image, &-simpleBlocksDimension-simpleBlockDimension {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &-background-image-fixed {
        background-repeat: repeat;
        background-attachment: fixed;
    }

    &-simpleBlocksDimension {
        @include mobile() {
            padding-top: $blockDimensionMarginMobile;

            &-simpleBlockDimension {
                margin-bottom: $blockDimensionMarginMobile;
                margin-right: $blockDimensionMarginMobile;
            }
        }
        
        @include tablet() {
            padding-top: $minBlockDimensionMarginTablet;

            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginTablet;
                margin-right: $minBlockDimensionMarginTablet;
            }
        }

        @include atLeastTabletLandscape() {
            padding-top: $minBlockDimensionMarginTabletLandscape;

            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginTabletLandscape;
                margin-right: $minBlockDimensionMarginTabletLandscape;
            }
        }
        
        @include atLeastDesktop() {
            padding-top: $minBlockDimensionMarginDesktop;
            
            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginDesktop;
                margin-right: $minBlockDimensionMarginDesktop;
            }
        }
        
        @include desktopMonitor() {
            padding-top: $minBlockDimensionMarginDesktopMonitor;
            
            &-simpleBlockDimension {
                margin-bottom: $minBlockDimensionMarginDesktopMonitor;
                margin-right: $minBlockDimensionMarginDesktopMonitor;
            }
        }

        // give all elements margin y and make blockDimension's padding adjust
        &-simpleBlockDimension {
            $padding: $pMargin;
            $morePadding: 4em; 

            // the width where no-wrap starts
            @include atLeastTabletLandscape() {
                &:last-child {
                    margin-right: 0;
                }
            }

            padding: calc($padding - $pMargin) $padding;

            &-morePadding {
                padding: calc($morePadding - $pMargin) $morePadding;
            }

            ul, ol, span, img, button {
                margin: $pMargin 0;
            }
        }
    }
}