@use './variables' as *;

/**
 * Only place :root variables in here
 */

:root {
    --overlayZIndex: #{$overlayZIndex};

    --tabletWidth: #{$tabletWidth};
    --desktopWidth: #{$desktopWidth};
    --desktopMonitorWidth: #{$desktopMonitorWidth};

    --themeColor: #{$themeColor};
    --themeColorInBetween: #{$themeColorInBetween};
    --secondaryColor: #{$secondaryColor};
    --accentColor: #{$accentColor};
}