/**
 * Only place sass variables in here
 */

$overlayZIndex: 1;
$transition: 0.2s;

/** Matches tailwind: https://tailwindcss.com/docs/responsive-design */
$tabletWidth: 768px; // md
$tabletLandscapeWidth: 1024px; // lg
$desktopWidth: 1280px; // xl
$desktopMonitorWidth: 1536px; // 2xl