@mixin mobile {
    @media screen and (max-width: 575px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 576px) and (max-width: 991px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin dontSelectText() {
    // iOS Safari
    -webkit-touch-callout: none; 
    // Safari
    -webkit-user-select: none; 
    // Konqueror HTML
    -khtml-user-select: none; 
    // Old versions of Firefox
    -moz-user-select: none; 
    // Internet Explorer/Edge
    -ms-user-select: none; 
    user-select: none;
}

@mixin hoverCursor() {
    &:not([disabled]):hover {
        cursor: pointer;
    }
}

@mixin hover() {
    transition: opacity var(--transitionTime);
    
    &:not([disabled]):hover {
        opacity: 0.7;
    }

    @include hoverCursor();
}

@mixin customHover {
    &:not([disabled]):hover {
        @content;
    }
}

@mixin disabled() {
    cursor: default !important;
    opacity: 0.5 !important;
}

@mixin selectText {
    // firefox
    &::-moz-selection {
        @content;
    }

    &::selection {
        @content;
    }
}

@mixin placeholder {
     // Chrome/Opera/Safari
     &::-webkit-input-placeholder {
        @content;
    }

    // Firefox 19+
    &::-moz-placeholder {
        @content;
    }
    
    // IE 10+
    &:-ms-input-placeholder {
        @content;
    }
    
    // Firefox 18-
    &:-moz-placeholder {
        @content;
    }
}

@mixin scrollBar($size: 3px) {
    &:hover {
        &::-webkit-scrollbar {
            height: 7px;
            width: 7px;
        }
    }
    
    &::-webkit-scrollbar {
        height: $size;
        width: $size;
    }

    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
        cursor: default;
    } 
}

@mixin focusOutline($color: currentColor) {
    outline: 3px solid $color;
    outline-offset: 1px;
}

@mixin buttonFocus($color: currentColor) {
    &:focus {
        @include focusOutline($color);
    }
}

@mixin flexCenter() {
    align-items: center;
    display: flex;
    justify-content: center;
}