._404 {
    color: var(--themeColor);
    
    .pendingContainer {
        height: 50vh;
        opacity: 0.4;

        .fa-spinner {
            font-size: 80px;
        }
    }

    .backToStartLink {
        color: var(--themeColor)
    }
}