@font-face {
    font-family: 'spellbook';
    font-weight: 300;
    src: url("../fonts/Outfit-ExtraLight.ttf");
}

@font-face {
    font-family: 'spellbook';
    font-weight: 400;
    src: url("../fonts/Outfit-Regular.ttf");
}

@font-face {
    font-family: 'spellbook';
    font-weight: 500;
    src: url("../fonts/Outfit-Medium.ttf");
}

@font-face {
    font-family: 'spellbook';
    font-weight: 600;
    src: url("../fonts/Outfit-SemiBold.ttf");
}

@font-face {
    font-family: 'spellbook';
    font-weight: 700;
    src: url("../fonts/Outfit-Bold.ttf");
}
