@use '@styles/helpers/variables' as *;

body {
    font-family: 'spellbook';
    font-size: $fontSize;
    font-weight: 300;
    margin: 0;
    position: relative;

    h1 {
        font-size: 3em;
        font-weight: 700;
    }

    h2 {
        font-size: 2.3em;
        font-weight: 600;
        margin: 25px 0;
    }

    h3 {
        font-size: 2em;
        font-weight: 500;
    }

    h4 {
        font-size: 1.7em;
        font-weight: 400;
    }

    h5 {
        font-size: 1.5em;
        font-weight: 400;
    }

    h6 {
        font-size: 1.3em;
        font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: calc(45px - 1em) 0;
    }
}