@import "./helpers/functions.scss";


.BasicAuth {
    min-height: 50vh;
    z-index: var(--zIndexBlock);

    .headingContainer {
        margin-bottom: 20px;
    }

    .formContainer {
        width: 300px;
        
        .formInputContainer {
            border: var(--yugiohBrownBorder);
            border-radius: var(--borderRadius);
            height: 50px;
            padding: 0;
            transition: 0.05s;
            width: 100%;
            z-index: 2;
            
            .formInput {
                border: none;
                height: 100%;
                padding: 3px 5px;
                transition: var(--transitionTime);
                width: 100%;
                
                &:focus {
                    box-shadow: var(--yugiohBrownBoxShadow);
                    outline: none;
                }
            }

        }
        
        #ButtonLogin {
            background-color: black;
            border-radius: var(--borderRadius);
            color: white;
            height: 50px;

            @include customHover {
                @include hover();

                .buttonContentContainer {
                    color: var(--themeColor);
                }
            };

            .buttonContentContainer {
                transition: var(--transitionTime);
            }
        }
    }
}