.BasicAuth {
    min-height: 50vh;
    z-index: var(--zIndexBlock);

    .headingContainer {
        margin-bottom: 20px;
    }

    .formContainer {
        width: 300px;
        
        .formInput {
            border: 2px solid var(--themeColor);
            border-radius: var(--borderRadius);
            height: 50px;
            padding: 3px 5px;
            width: 100%;

            &:focus {
                box-shadow: 0px 0px 2px 1px var(--themeColor) inset;
                outline: none;
            }
        }
    }
}