.Button {
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0px rgb(151, 151, 151);
    padding: 0;
    position: relative;
    transition: background-color 0.2s, opacity 0.2s;

    &:focus {
        transition: outline 0s;
        outline-offset: 4px;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        cursor: default;

        &:hover {
            opacity: 0.5;
        }
    }

    .buttonOverlay {
        opacity: 0;
        overflow: visible;
        position: absolute;
    
        .hiddenChildren {
            visibility: hidden;
            white-space: nowrap;
        }
    }

    .buttonChildren {
        padding: 10px;
    }
}