:root {
    --relativeContainerPadding: 1px;
}

.relativeContainer {
    padding: var(--relativeContainerPadding);
    position: relative;
    
    .CardTextBox {
        box-shadow: var(--boxShadow2);
    }
}