:root {
    --arrowFontSize: 30px;
}

.ImageSliderBlock {
    overflow: hidden;
    position: relative;
    width: 100%;

    .SliderImage {
        border-radius: 5px;
    }

    .imageContainer {
        position: absolute;
    }

    /* Arrow Icon containers */
    .leftArrowContainer, .rightArrowContainer {
        background-color: white;
        height: 55px;
        position: absolute;
        transition: opacity 0.2s;
        
        &:hover {
            cursor: pointer;
            
            .leftArrow, .rightArrow {
                opacity: 0.5;
            }
        }

        &.disabled {
            opacity: 0.7 !important;
        }

        /* Arrow Icons */
        .leftArrow, .rightArrow {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            color: var(--themeColor);
            font-size: var(--arrowFontSize);
            transition: opacity 0.2s;
        }
        
        .leftArrow {
            transform: rotate(90deg);
        }
        
        .rightArrow {
            transform: rotate(270deg)
        }
    }

    .leftArrowContainer {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 0;
    }
    
    .rightArrowContainer {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        right: 0;
    }
}