.MobileNavMenu {
    .mobileNavMenuIcon {
        font-size: 0.9em;
        transition: 0.2s;
        /* point to the right */
        rotate: -90deg;
    }

    .mobileNavMenuLabelText {
        transition: 0.2s;
    }

    .mobileNavMenuItemContainer {
        display: none;
        font-size: 0.9em;
        margin-left: 60px;
    }
}