:root {
    --navBarHeight: 221px;
}

.NavBar {
    background-color: var(--backgroundColor);
    border: var(--yugiohBrownBorder);
    box-shadow: var(--yugiohBrownBoxShadow);
    border-radius: var(--borderRadius);
    position: relative;
    z-index: var(--zIndexNavBar);

    .navBarContainer {
        font-size: 20px;
        padding: 10px 0;

        .navItemCenter {
            font-size: 35px;
        }

        .navItem {
            position: relative;
        }

        .logoutLink {
            font-size: 0.8em;
            
            .logoutLabel, .logoutIcon {
                transition: color var(--transitionTime);
            }

            &:hover {
                cursor: pointer;

                .logoutLabel, .logoutIcon {
                    color: var(--themeColor);
                }
            }
        }

        .mobileNavMenuContainer {
            font-size: 0.7em;
            margin-bottom: 5px;
            position: absolute;
            transition: 0.2s;
            width: 100%;
        }
    }
}


/* Mobile */
@media screen {
    .NavBar {
        overflow: hidden;
        min-height: var(--navBarHeight);
    }
    
    /* hide desktop view on mobile screens */
    .navItemLeft, .navItemRight {
        display: none !important;
    }
}

/* Tablet */
@media screen and (min-width: 576px) {
    .NavBar {
        min-height: auto;
        overflow: visible;
    }
    
    /* show desktop view on larger screens */
    .navItemLeft, .navItemRight {
        display: flex !important;
    }

    /* hide mobile view on larger screens */
    .mobileNavBarContainer {
        display: none;
    }

    .logoutContainer {
        padding-right: 5px;
    }

    .faviconTransparent {
        height: 80px;
        padding: auto;
        width: auto;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .NavBar {
        .logoutContainer {
            padding-right: 15px;
        }

        .faviconTransparent {
        height: 120px;
    }
}
}