.NavBar {
    background-color: var(--backgroundColor);
    /* position: sticky;
    top: 0; */
    z-index: 1;

    .navBarContainer {
        color: var(--themeColor3);
        font-size: 20px;
        padding: 10px 0;
        top: 0;

        .navHeading {
            font-size: 35px;
        }

        .navItem {
            margin: 0 70px;
            position: relative;

            .navItemLabel {
                transition: color var(--transitionTime);
                
                &:hover {
                    cursor: pointer;
                    color: var(--themeColor);
                }
            }

        }

    }
}