.ParagraphBlock {
    img {
        vertical-align: bottom;
    }

    /* Default wp colors */
    .has-inline-color.has-cyan-bluish-gray-color {
        color: #ABB8C3;
    }

    .has-inline-color.has-pale-pink-color {
        color: #F78DA7;
    }

    .has-inline-color.has-black-color {
        color: black;
    }

    .has-inline-color.has-white-color {
        color: white;
    }

    .has-inline-color.has-vivid-red-color {
        color: #CF2E2E;
    }

    .has-inline-color.has-luminous-vivid-orange-color {
        color: #FF6900;
    }

    .has-inline-color.has-luminous-vivid-amber-color {
        color: #FCB900;
    }

    .has-inline-color.has-light-green-cyan-color {
        color: #7BDCB5;
    }

    .has-inline-color.has-vivid-green-cyan-color {
        color: #00D084;
    }
    
    .has-inline-color.has-pale-cyan-blue-color {
        color: #8ED1FC;
    }
    
    .has-inline-color.has-vivid-cyan-blue-color {
        color: #0693E3;
    }
    
    .has-inline-color.has-vivid-purple-color {
        color: #9B51E0;
    }
}