.SeparatorBlock {
    hr {
        // never give this any background color although wordpress wants to
        background-color: transparent !important;
        border-top: 2px solid currentColor;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 1;

        // style dotted
        &.is-style-dots {
            border: none;

            &:before {
                color: currentColor;
                content: "···";
                font-family: serif;
                font-size: 1.5em;
                letter-spacing: 2em;
                padding-left: 2em;
            }
        }
    }
}