/** 
 * Only forward styles in here, don't define any rules.
 */
@forward "@styles/globals";
@forward "@styles/fonts";

@forward "@styles/components/BlockDimensions";
@forward "@styles/components/Footer";
@forward "@styles/components/Navigation";
@forward "@styles/components/Overlay";
@forward "@styles/components/Pending";
@forward "@styles/components/Page";
@forward "@styles/components/404";
@forward "@styles/components/SliderVideo";

@forward "@styles/components/blocks/BoxBlock";
@forward "@styles/components/blocks/SeparatorBlock";
@forward "@styles/components/blocks/SliderBlock";
@forward "@styles/components/blocks/AccordionBlock";
@forward "@styles/components/blocks/TextBlock";

@forward "@styles/helpers/rootVariables";